{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
  <div class="dashboard">
    <!-- Sidebar -->
    <aside class="sidebar" id="sidebar">
      <div class="logo-container">
        <img src="{% static 'images/logo white.png' %}" alt="Logo" class="logo">
      </div>
      <nav class="nav">
        <ul>
          <li class="{% if request.path == '/admin-dashboard' %}active{% endif %}">
            <a href="/admin-dashboard"><i class="icon-home"></i> HOME</a>
          </li>
          <li>
            <a href="/admin-teachers"><i class="icon-teachers"></i> TEACHERS </a>
          </li>
          <li>
            <a href="/admin-students"><i class="icon-students"></i> STUDENTS </a>
          </li>
          <li>
            <a href="/admin-attendance"><i class="icon-attendance"></i> ATTENDANCE </a>
          </li>
          <li>
            <a href="/admin-settings"><i class="icon-settings"></i> SETTINGS </a>
          </li>
        </ul>
      </nav>
    </aside>
    
    

    <!-- Main Content -->
    <main class="content">
      <header class="top-bar">
        <h1>ATTENDANCE MONITORING SYSTEM</h1>
        <div class="user-section">
          <img src="{% static 'images/user-default.png' %}" alt="Profile" class="profile-pic">
          <button class="logout-btn" type="button" onclick="window.location.href='{% url '/' %}'">Logout</button>
        </div>
      </header>

      <section class="stats">
        <a href="/admin-teachers" class="box">
            <h2>TEACHERS</h2>
            <img src="{% static 'images/teachers.png' %}" alt="Teachers">
            <p>Total: <span class="number">{{ total_teachers }}</span></p>
        </a>
        <a href="/admin-students" class="box">
            <h2>STUDENTS</h2>
            <img src="{% static 'images/students.png' %}" alt="Students">
            <p>Total: <span class="number">{{ total_students }}</span></p>
        </a>
        <a href="/admin-attendance" class="box">
            <h2>ATTENDANCE</h2>
            <img src="{% static 'images/attendance.png' %}" alt="Attendance">
            <p>Total: <span class="number">{{ total_attendance }}</span></p>
        </a>
    </section>

      <footer class="footer">
        <div class="copy">
          <p>© 2024 Attendance Monitoring System. All Rights Reserved.</p>
        </div>
        <div class="date-time">
          <p id="current-date-time"></p>
        </div>
      </footer>
    </main>
  </div>
  <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
